<!DOCTYPE html>
<html>
  <head>
    <title>Adminstration page for database {{user}}</title>
    <meta charset='utf-8' />
  </head>
  <body>
    {{#name}}
    {{.}}
    {{/name}}
  </body>
</head>
</html>
