<!DOCTYPE html>
<html>
  <head>
    <title>Add new user</title>
    <meta charset="utf-8" />
  </head>
  <body>
<h1>Add new user:</h1>
<ul>
  <form action="admin/userAdded" method="GET">
    Username: <input type="text" name="username" value=""><br />
    Password: <input type="text" name="password" value=""><br />
    Full Name: <input type="text" name="full_name" value=""><br />
    Enter "admin" to give admin privileges: <input type = "text" name="isadmin" value=""><br />
    <input type="submit" value="Add user" />
  </form>
</ul>
  </body>
</html>
