<!DOCTYPE html>
<html>
  <head>
    <title>Administration for {{ name }} database</title>
    <meta charset="utf-8" />
  </head>
  <body>
<h1>Administration for {{ name }} database:</h1>

  </body>
</html>
