<!DOCTYPE html>
<html>
  <head>
    <title>Administration for {{ name }} database</title>
    <meta charset="utf-8" />
  </head>
  <body>
<h1>Administration for {{ name }} database:</h1>
<ul>
  {{#username}}
<a href="/admin/updateUser/{{.}}">  {{.}} </a>
  {{/username}}
</ul>
  </body>
</html>
