]<!DOCTYPE html>
<html>
  <head>
    <title>Photo album for {{ name }}</title>
    <meta charset="utf-8" />
  </head>
  <body>
<h1>Photo album for {{ name }}</h1>
<ul>
  {{#links}}<li>
 <img src = {{link}}>
  </li>
  {{/links}}
</ul>

  </form>
  </body>
</html>
