<!DOCTYPE html>
<html>
  <head>
    <title>Image gallery home</title>
    <meta charset="utf-8" />
  </head>
  <body>
    <h1>Image gallery home</h1>
    
<form method='post' enctype='multipart/form-data' action='/upload'>
    <input type='file' name='uploaded_file'>
    <button>Upload picture</button>"
</form>"

<form action="/view" method="GET">
  <input type="submit" value="View your images">
</form><br>

<form action="/admin" method="GET">
  <input type="submit" value="Database administration">
</form>
  </body>
</html>
