<!DOCTYPE html>
<html>
  <head>
    <title>Confirm update for user: {{ username }}</title>
    <meta charset="utf-8" />
  </head>
  <body>
<h1>Confirm update for user:  {{ username }}</h1>
<ul>
  <form action="/admin" method="GET">
    <input type="submit" value="Return to adminstration page"/>
    </form>
</ul>
  </body>
</html>
